[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
selenium = "*"
lxml = "*"
scrapy = "*"
pyquery = "*"
requests = "*"
pymysql = "*"
wheel = "*"
elasticsearch = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.6"
